<template>
    <div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" @change="handleChangeValue($event)" :value="value.title">
        </div>
        <div class="form-group">
            <label for="publishing_date">Publishing date:</label>
            <input type="date" class="form-control" id="publishing_date" name="publishing_date" @change="handleChangeValue($event)" :value="value.publishing_date">
        </div>
        <div class="form-group">
            <single-select v-model="value.author_id" label="Choose author" :options="lookups.authors" field="author_id" @change="handleChangeValue($event)"></single-select>
        </div>
        <div class="form-group">
            <single-select v-model="value.publishing_house_id" label="Choose publishing house" :options="lookups.publishings" field="publishing_house_id" @change="handleChangeValue($event)"></single-select>
        </div>
        <button class="btn btn-primary" @click="send" data-dismiss="modal" >Send</button>
    </div>

</template>

<script>
    export default {
        props: {
            value: {
                type: Object,
                default: () => {},
            },
            lookups: {
                type: Object,
                default: () => {},
            }
        },
        data () {
            return {
                book: {
                    title: '',
                    publishing_date: '',
                    author_id: 1,
                    publishing_house_id: 1,
                }
            }
        },
        methods: {
            handleChangeValue (e) {
                this.book[e.target.name] = e.target.value
            },
            send () {
                this.$emit('input', this.book)
                this.$emit('addBook')
            }
        }
    }
</script>