<template>
    <div>
        <div class="form-group">
            <label for="name">Publishing house name:</label>
            <input type="text" class="form-control" id="name" name="name" @change="$emit('input', $event.target.value)" :value="value">
        </div>
        <button class="btn btn-primary" @click="send" data-dismiss="modal" >Send</button>
    </div>

</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            }
        },
        methods: {
            send () {
                this.$emit('addPublishing')
            }
        }
    }
</script>