<template>
    <div class="container">
        <Toolbar>
            <button type="button" class="btn btn-light nav-item"  data-toggle="modal" data-target="#myModal" @click="openModal('author')">+ Author</button>
            <button type="button" class="btn btn-light nav-item"  data-toggle="modal" data-target="#myModal" @click="openModal('publishing')">+ Publishing house</button>
            <button type="button" class="btn btn-light nav-item"  data-toggle="modal" data-target="#myModal" @click="openModal('book')">+ Book</button>

        </Toolbar>
        <List :options="getBookList" @input="setBookId($event)" @delete="deleteBook($event)"></List>
        <Modal :title="getModalTitle(activeModal)">
            <template slot="body">
                <LoadImage :book_id="book_id" @input="selectFile($event)" @loadImg="onUpload" v-if="activeModal == 'img'"></LoadImage>
                <AddAuthor v-model="author" @addAuthor="sendAuthor" v-if="activeModal == 'author'"></AddAuthor>
                <AddPublishing v-model="publishing" @addPublishing="sendPublishing" v-if="activeModal == 'publishing'"></AddPublishing>
                <AddBook v-model="book" @addBook="sendBook" v-if="activeModal == 'book'" :lookups="lookups"></AddBook>
            </template>

        </Modal>
        <Message v-if="openedMessage" :messageText="messageText" :messageType="messageType"></Message>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                books:[],
                opened: false,
                book_id: 0,
                baseURI: '',
                imageData: {},
                activeModal: null,
                author: '',
                publishing: '',
                book: {
                    title: '',
                    publishing_date: '',
                    author_id: 1,
                    publishing_house_id: 1
                },
                authors:[],
                publishings:[],
                messageText: '',
                messageType: '',
                openedMessage: false
            }
        },

        created(){
            this.getBooks();
            this.getAuthors();
            this.getPublishings();
        },
        computed: {
            getBookList () {
                const books = this.books;
                books.map(it => {
                    it.image = it.image ? `/storage${it.image.path}${it.image.title}` : null
                });
                return books
            },
            lookups () {
                const lookupsObj = {
                    authors: this.authors,
                    publishings: this.publishings
                };
                return lookupsObj
            },
        },
        methods: {
            selectFile(e) {
                this.imageData = e.target.files[0];
                this.baseURI = e.target.baseURI;
            },
            setBookId (e) {
                this.book_id = e;
                this.activeModal = 'img';
            },
            getModalTitle (type) {
                switch (type) {
                    case 'img': return 'Add image'
                    case 'author': return 'Add author'
                    case 'publishing': return 'Add publishing house'
                    case 'book': return 'Add book'
                }
            },
            openModal (val) {
                this.activeModal = val;
            },
            openMessage (status) {
                this.messageText = getStatusText(status);
                this.messageType = getStatusType(status);

                function getStatusText (status) {
                    switch (status) {
                        case 200 : return 'Done.';
                        case 201 : return 'Successfully created.';
                        case 204 : return 'Successfully removed from system.';
                        default : return 'Something went wrong.';

                    }
                }
                function getStatusType (status) {
                    switch (status) {
                        case 200 :
                        case 201 :
                        case 204 : return 'success'
                        default : return 'danger';

                    }
                }
                this.openedMessage = true;
                setTimeout(() => this.openedMessage = false, 2000)

            },
            addItem (item, route) {
                axios.post(`${this.baseURI}api/${route}`, {name: item})
                    .then(res => {
                        this.openMessage(res.status)
                    })
            },
            deleteBook(e) {
                axios.delete(`${this.baseURI}api/books/${e}`)
                    .then(res => {
                        this.openMessage(res.status)
                        if (res.status === 204) {
                            this.getBooks()
                        }
                    })
            },
            sendAuthor () {
                this.addItem(this.author, 'authors')
            },
            sendPublishing () {
                this.addItem(this.publishing, 'publishing-houses')
            },
            sendBook () {
                axios.post(`${this.baseURI}api/books`, this.book)
                    .then(res => {
                        this.openMessage(res.status)
                        if (res.status === 201) {
                            this.getBooks()
                        }
                    })
                this.book = {
                    title: '',
                        publishing_date: '',
                        author_id: 1,
                        publishing_house_id: 1
                };
            },
            onUpload() {
                if (!this.imageData.name) {
                    return
                }
                const fd = new FormData();
                fd.append('image', this.imageData, this.imageData.name);
                fd.append('book_id', this.book_id);
                axios.post(`${this.baseURI}api/images`, fd)
                    .then(res => {
                        this.openMessage(res.status)
                        if (res.status === 201) {
                            this.getBooks()
                        }
                    })

            },
            getBooks() {
                fetch('api/books')
                    .then(res => res.json())
                    .then(res => {
                        this.books = res;
                    });
            },
            getImage(id) {
                return fetch(`api/images/get-image-url/${id}`, {method: 'GET'})
                    .then(res => res.json())
                    .then(res => res.image_url)
            },
            getAuthors() {
                fetch('api/authors')
                    .then(res => res.json())
                    .then(res => {
                        this.authors = res;
                    });
            },
            getPublishings() {
                fetch('api/publishing-houses')
                    .then(res => res.json())
                    .then(res => {
                        this.publishings = res;
                    });
            },
        }
    }
</script>