<template>
    <table class="book-list table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Title</th>
            <th>Image</th>
            <th>Publishing house</th>
            <th>Publishing date</th>
            <th>sdfsdf</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="it of options">
            <td>{{ it.id }}</td>
            <td>{{ it.author.name }}</td>
            <td>{{ it.title }}</td>
            <td>
                <template v-if="it.image">
                    <img :src="it.image" alt="">
                </template>
                <template v-else><button class="btn btn-default" data-toggle="modal" data-target="#myModal" @click="$emit('input', it.id)">+</button></template>
            </td>
            <td>{{ it.publishing_house.name }}</td>
            <td>{{ it.publishing_date }}</td>
            <td>
                <input type="button" class="btn btn-danger" value="Remove" @click="$emit('delete', it.id)">
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            options: {
                type: Array,
                default: () => []
            }
        },
        mounted () {
            console.log(this.options)
        }
    }
</script>

<style lang="scss">
    .book-list {
        img {
            width: 100px;
        }
    }
</style>