<template>

    <div>
        <div class="form-group">
            <!--<label for="image">Upload image:</label>-->
            <!--<input type="file" class="form-control" id="image" name="image" @change="$emit('input', $event)">-->
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image" @change="upload($event)">
                <label class="custom-file-label" for="image">{{fileName}}</label>
            </div>

        </div>
        <input type="hidden" name="book_id" :value="book_id">

        <button class="btn btn-primary" @click="send" data-dismiss="modal" >Send</button>
    </div>

</template>

<script>
    export default {
        props: {
            book_id: {
               type: Number,
                required: true,
            }
        },
        data () {
            return {
                fileName: 'Choose file...'
            }
        },
        methods: {
            send () {
                this.$emit('loadImg')
                this.fileName = 'Choose file...'
            },
            upload (e) {
                this.fileName = e.target.files[0].name
                this.$emit('input', e)
            }
        }
    }
</script>