<template>
    <div :class="['alert', `alert-${messageType}`, 'message']" role="alert">
        {{messageText}}
    </div>
</template>

<script>
    export default {
        props: {
            messageText: {
                type: String,
                required: true
            },
            messageType: {
                type: String,
                required: true
            }
        }
    }
</script>

<style lang="scss">
    .message {
        position: absolute;
        min-width: 300px;
        max-width: 90%;
        right: 20px;
        top: 10px;
    }
</style>