<template>
    <div class="single-select">
        <label for="list">{{label}}</label>
        <select class="custom-select" id="list" :name="field" :value="value" @change="$emit('change', $event)">
            <option v-for="option of options" :value="option.id">{{option.name}}</option>
        </select>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                type: [Number, String],
                required: true,
            },
            field: {
                type: String,
                required: true,
            },
            label: {
                type: String,
            },
            options: {
                type: Array,
                required: true,
            }
        }
    }
</script>