<template>
    <div class="toolbar">
        <div class="nav justify-content-end">
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss">
    .toolbar {
        padding: 15px 0;

        .btn {
            background-color: #fff;
            border-color: #fff;

            &:hover {
                background-color: #e2e6ea;
                border-color: #dae0e5
            }
        }

    }
</style>